.App {
  text-align: center;
  padding-top: 36px;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.SearchForm_formu {
  display: flex;
  justify-content: center;
}
